<!DOCTYPE html>
<html lang="en">
<div class="tab-pane" id="loan" role="tabpanel" th:fragment="loanList">

  <div class="data-div">
    <div class="row tableHeader">
      <div class="col-xs-2 " style="padding-left: 20px;">
        项目
      </div>
      <div class="col-xs-3" style="padding-left: 20px;">
        名称
      </div>
      <div class="col-xs-2" style="padding-left: 2px;">
        利率
      </div>
      <div class="col-xs-2">
        详细信息
      </div>
      <div class="col-xs-3">
        操作
      </div>
    </div>
    <div class="tablebody">

      <div class="sitTable">
        <table class="table  table-responsive" id="loanTable">

        </table>
      </div>

    </div>

  </div>
  <!--页码块-->
  <footer class="footer">
    <ul class="pagination">
      <li>
        <select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
        </select>
        页
      </li>
      <li class="gray">
        共20页
      </li>
      <li>
        <i><b><</b></i>
      </li>
      <li>
        <i><b>></b></i>
      </li>
    </ul>
  </footer>

  <!-- /.modal -->
</div>
</html>