<!DOCTYPE html>
<html lang="en">
<!--取款业务模块-->
<div class="tab-pane" id="withdraw" role="tabpanel" th:fragment="withdrawList">

    <div class="data-div">
        <div class="row tableHeader">
            <div class="col-xs-2 ">
                用户名
            </div>
            <div class="col-xs-2">
                所属银行
            </div>
            <div class="col-xs-2">
                银行卡号
            </div>
            <div class="col-xs-2">
                账号
            </div>
            <div class="col-xs-2">
                余额
            </div>
            <div class="col-xs-2">
                操作
            </div>
        </div>
        <div class="tablebody" id="bankCardListWithdraw">

        </div>
    </div>
    <!--页码块-->
    <footer class="footer">
        <ul class="pagination">
            <li>
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
                页
            </li>
            <li class="gray">
                共20页
            </li>
            <li>
                <i><b><</b></i>
            </li>
            <li>
                <i><b>></b></i>
            </li>
        </ul>
    </footer>

    <!--弹出修改用户窗口-->
    <div aria-labelledby="gridSystemModalLabel" class="modal fade" id="withdrawMoney" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal"
                            type="button"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">取款</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form class="form-horizontal">

                            <div class="form-group">
                                <label class="col-xs-3 control-label">取款方式：</label>
                                <div class="col-xs-8">
                                    <select class=" form-control select-neat">
                                        <option value="">现金</option>
                                        <option value="">微信</option>
                                        <option value="">支付宝</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-3 control-label">金额：</label>
                                <div class="col-xs-8">
                                    <input class="form-control input-sm neat" id="withdrawNumber">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-xs btn-white" data-dismiss="modal" type="button">取 消
                    </button>
                    <button class="btn btn-xs btn-green" onclick="withdrawMoney()" type="button">确 认</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
</html>